<div id="head">
      <span id="tbord">Tableau de bord</span>
      <span id="sbord">
            <table>
                  <tr>
                        <td>
                              <form method="">
                                    <input type="text" name="" placeholder="Recherche par...">
                              </form>
                        </td>
                        <td>
                              <a href="/lister_promotion">
                                    <span id="promo"><i id="carre" class="fas fa-square"></i> Promotions</span>
                              </a>
                        </td>
                        <td>
                              <a href="/lister_referentiel">
                                    <span id="refe"><i id="carre" class="fas fa-square"></i> Référentiel</span>
                              </a>
                        </td>
                        <td>
                              <a href="/lister_apprenant">
                                    <span id="appr" style="text-align: center;"><i id="carre" class="fas fa-square"></i> Apprenants</span>
                              </a>
                        </td>
                  </tr>
            </table>
      </span>

      <p id="image_bord">
            <img src="{{url_for('static',filename='images/fraud.jpg')}}">
      </p>
</div>