
<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/footer.css')}}">  -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}"> 

{% include 'fixed/header.html' %}  
    
      <div id="body-contener">
          
            {% include 'fixed/index_head.html' %}

            <div id="bloc1">
            
            </div>

      </div>
    </div>


{% include 'fixed/footer.html' %}

<script type="text/javascript" src="../../static/js/toggleTab.js"></script>

